.content {
    position: relative;
    background-color: antiquewhite;
    margin: 70px;
    display: inline-block;
}

table {
    display: table-cell;
    border: 2px solid #48aae6;
}

td {
    background-color: #48aae6;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}

.button {
    position: absolute;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
}
.minus {
    visibility: hidden;
}

.button:hover {
    opacity: 0.7;
}

.plus {
    background-color: #f3a500;
    border: 1px solid #f3a500;
}

.plus:after {
    content: "+";
    color: white;
}

.plus_col {
    left: 100%;
    top: 0%;
    margin: 4px 2px;
}

.plus_row {
    left: 0%;
    top: 100%;
    margin: 2px 4px;
}

.minus {
    background-color: #b20000;
    border: 1px solid #b20000;
}

.minus:after {
    content: "-";
    color: white;
}

.minus_row {
    right: 100%;
    top: 2px;
    margin: 2px 2px;
}

.minus_col{
    left: 2px;
    bottom: 100%;
    margin: 2px 2px;
}
