.content {
    position: relative;
    margin: 70px;
    display: inline-block;
}

table {
    border: 1px solid #48aae6;
}

td {
    background-color: #48aae6;
    width: 48px;
    height: 48px;
    min-height: 48px;
    min-width: 48px;
}

.button {
    position: absolute;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 19px;
}
.minus {
    visibility: hidden;
}

.button:hover {
    opacity: 0.7;
}

.plus {
    background-color: #f3a500;
}

.plus:after {
    content: "+";
    color: white;
}

.plus_col {
    left: 100%;
    top: 0%;
    margin: 3px 2px;
}

.plus_row {
    left: 0%;
    top: 100%;
    margin: 2px 3px;
}

.minus {
    background-color: #b20000;
}

.minus:after {
    content: "-";
    color: white;
}

.minus_row {
    right: 100%;
    margin: 1px 2px;
}

.minus_col{
    bottom: 100%;
    margin: 2px 1px;
}
